<footer>
  <div class="f-info">

    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-linkedin"></i>
    </div>

    <div class="f-info-brand">
      &copy; WanderLust Private Limited
    </div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>

   <div class="f-info-credit">
  © 2026 All rights reserved • Built with 
  <i class="fa-solid fa-heart heart"></i> 
  by <strong>Yusuf</strong>
</div>

  </div>
</footer>